a img { border: 0px; }

a { color: #800; font-weight: bold; text-decoration: none; }
.box_row_even { background-color: #E0E0E0; font-size: 13px; }
.box_row_odd { background-color: #D0D0D0; }

.box_title
{
	border-bottom: 1px solid #000;
	font-size: 12pt;
	font-weight: bold;
	white-space: nowrap;
}

.error { color: #A00000; font-weight: bold; }
.success { color: #00A000; font-weight: bold; }
.clear { clear: both; }

.form_separator
{
	border-bottom: 1px solid #000;
	font-weight: bold;
}

.input_generic { width: 100%; }
.form { width: 100%; }
.product
{
	width: 150px;
	height: 150px;
	float: left;
	text-align: middle;
	overflow: auto;
}

#left { float: left; width: 200px; }
#middle { padding-left: 200px; }
#right { float: right; }
#foot { clear: both; }
