<null>
<include file="modules/wishlist.php" class="ModWishlist" />
<include file="modules/log.php" class="ModLog" />
<include file="modules/admin.php" class="ModAdmin" />
<include file="modules/category.php" class="ModCategory" />
<include file="modules/cart.php" class="ModCart" />

<include file="modules/user.php" class="ModUser" />
<include file="modules/navigation.php" class="ModNav" />

<include file="modules/search.php" class="ModSearch" />
<include file="modules/view.php" class="ModView" />
<include file="modules/narrow.php" class="ModNarrow" />

<include file="modules/content.php" class="ModContent" />

<doctype type="trans" />
<html>
<head>
	<title> {{SITE_NAME}} - {{page.title}} </title>
	<link href="template/{{settings.site_template}}/main.css" rel="stylesheet" type="text/css"/>

	<script type="text/javascript" src="js/tools.js"></script>
</head>
<body onLoad="collapseHidden()">
<p><a href="index.php"><img src="images/title.gif" border="0" alt="Logo"/></a><br/></p>

<table border="0" width="100%">
	<tr><td valign="top" width="200">
		<present name="ModUser" />
		<present name="ModNav" />
		<present name="ModView" />
		<present name="ModSearch" />
	</td>
	<td valign="top">
		<present name="ModContent" />
	</td><td valign="top" width="200">
		<present name="ModCategory" />
		<present name="ModNarrow" />
	</td></tr>
</table>
<br/><br/><center><font size="-1">
	Copyright 2003 {{SITE_NAME}}<br/>
</font></center>
</body>
</html>
</null>
